@import url('https://fonts.cdnfonts.com/css/sf-compact-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    font-family: 'SF Compact Display', sans-serif;
}
@layer components{
    .reals-stories{
        @apply py-4 h-fit text-lg block
    }
}
@layer utilities {
    .reals-stories-active{
        @apply font-medium text-primary border-b-2 border-b-primary rounded-none
    }
    .reaction-btn{
        @apply flex items-center gap-2
    }
    .profile-btn{
        @apply h-11 w-11 rounded-full grid place-content-center border border-secondary
    }
    .send-btns{
        @apply h-7 w-7 rounded-full grid place-content-center hover:bg-primary/20 cursor-pointer transition-all
    }
    .auth-input{
        @apply bg-white text-sm p-4 w-full border border-[#D9D9D9] rounded-[10px] focus:outline-secondary
    }
}

.snippet-ellipsis{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}